<!DOCTYPE html>
<html>
    <head>
        <title>MAMS Redeem Portal</title>
        <meta charset="UTF-8">
        <meta description="Count Sheet">
        <meta keywords="MAMS">
        <meta author="Bryce Day">
        <link type="text/css" rel="stylesheet" href="../style.css">
        <link type="text/css" rel="stylesheet" href="../drive_in_count.css">
        <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    </head>
    <body>
        <main>
            <div id="driveInCount"></div>
        </main>
        <script type="text/babel" src="../drive_in_count.js"></script>
    </body>
</html>